<div class="search-hit">
  <ul class="search-hit__path">
    {{#each path}}
    <li>
      {{#if url}}
      <a href="{{ url }}">{{ label }}</a>
      {{else}}
      {{label}}
      {{/if}}
    </li>
    {{/each}}
  </ul>
  <h2 class="search-hit__title"><a href="{{ url }}">{{ title }}</a></h2>
  <p class="search-hit__body">{{ body }}</p>
</div>


<div class="search-hit">
  <ul class="search-hit__path">
    {{#each path}}
    <li>
      {{#if url}}
      <a href="{{ url }}">{{ label }}</a>
      {{else}}
      {{label}}
      {{/if}}
    </li>
    {{/each}}
  </ul>
  <h2 class="search-hit__title"><a href="{{ url }}">{{ title }}</a></h2>
  <p class="search-hit__body">{{ body }}</p>
</div>
<div class="search-hit">
  <ul class="search-hit__path">
    {{#each path}}
    <li>
      {{#if url}}
      <a href="{{ url }}">{{ label }}</a>
      {{else}}
      {{label}}
      {{/if}}
    </li>
    {{/each}}
  </ul>
  <h2 class="search-hit__title"><a href="{{ url }}">{{ title }}</a></h2>
  <p class="search-hit__body">{{ body }}</p>
</div>
<div class="search-hit">
  <ul class="search-hit__path">
    {{#each path}}
    <li>
      {{#if url}}
      <a href="{{ url }}">{{ label }}</a>
      {{else}}
      {{label}}
      {{/if}}
    </li>
    {{/each}}
  </ul>
  <h2 class="search-hit__title"><a href="{{ url }}">{{ title }}</a></h2>
  <p class="search-hit__body">{{ body }}</p>
</div>
<div class="search-hit">
  <ul class="search-hit__path">
    {{#each path}}
    <li>
      {{#if url}}
      <a href="{{ url }}">{{ label }}</a>
      {{else}}
      {{label}}
      {{/if}}
    </li>
    {{/each}}
  </ul>
  <h2 class="search-hit__title"><a href="{{ url }}">{{ title }}</a></h2>
  <p class="search-hit__body">{{ body }}</p>
</div>
<div class="search-hit">
  <ul class="search-hit__path">
    {{#each path}}
    <li>
      {{#if url}}
      <a href="{{ url }}">{{ label }}</a>
      {{else}}
      {{label}}
      {{/if}}
    </li>
    {{/each}}
  </ul>
  <h2 class="search-hit__title"><a href="{{ url }}">{{ title }}</a></h2>
  <p class="search-hit__body">{{ body }}</p>
</div>
<div class="search-hit">
  <ul class="search-hit__path">
    {{#each path}}
    <li>
      {{#if url}}
      <a href="{{ url }}">{{ label }}</a>
      {{else}}
      {{label}}
      {{/if}}
    </li>
    {{/each}}
  </ul>
  <h2 class="search-hit__title"><a href="{{ url }}">{{ title }}</a></h2>
  <p class="search-hit__body">{{ body }}</p>
</div>
<div class="search-hit">
  <ul class="search-hit__path">
    {{#each path}}
    <li>
      {{#if url}}
      <a href="{{ url }}">{{ label }}</a>
      {{else}}
      {{label}}
      {{/if}}
    </li>
    {{/each}}
  </ul>
  <h2 class="search-hit__title"><a href="{{ url }}">{{ title }}</a></h2>
  <p class="search-hit__body">{{ body }}</p>
</div>
