<div class="reveal" data-js-reveal>
  <header class="reveal__header" data-js-reveal-header>
    <h3>{{ title }}</h3>
    <button class="reveal__toggle" aria-controls="{{ id }}" aria-expanded="false" data-js-reveal-trigger>
      <span class="reveal__toggle-text reveal__toggle-text--close">{{ toggleCloseText }}</span>
      <span class="reveal__toggle-text reveal__toggle-text--open">{{ toggleOpenText }}</span>
    </button>
  </header>
  <div class="reveal__content-wrapper" id="{{ id }}" tabindex="-1">
    <div class="reveal__content">
      {{{ body }}}
    </div>
  </div>
</div>
