<table class="editorial-table">
  <caption>Table heading goes here</caption>
  <thead>
    <tr>
      <th>Lorem</th>
      <th>Ipsum Sit</th>
      <th>Dolor Amet</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Et commodo cillum fugiat ullamco voluptate et ea amet qui eiusmod.</td>
      <td>{{ render '@btn' }}</td>
      <td>Et commodo cillum fugiat ullamco voluptate et ea amet qui eiusmod.</td>
    </tr>
    <tr>
      <td>Et commodo cillum fugiat ullamco voluptate et ea amet qui eiusmod.</td>
      <td>{{ render '@btn' }}</td>
      <td>Et commodo cillum fugiat ullamco voluptate et ea amet qui eiusmod.</td>
    </tr>
    <tr>
      <td>Et commodo cillum fugiat ullamco voluptate et ea amet qui eiusmod.</td>
      <td>{{ render '@btn' }}</td>
      <td>Et commodo cillum fugiat ullamco voluptate et ea amet qui eiusmod.</td>
    </tr>
    <tr>
      <td>Et commodo cillum fugiat ullamco voluptate et ea amet qui eiusmod.</td>
      <td>{{ render '@btn' }}</td>
      <td>Et commodo cillum fugiat ullamco voluptate et ea amet qui eiusmod.</td>
    </tr>
    <tr>
      <td>Et commodo cillum fugiat ullamco voluptate et ea amet qui eiusmod.</td>
      <td>{{ render '@btn' }}</td>
      <td>Et commodo cillum fugiat ullamco voluptate et ea amet qui eiusmod.</td>
    </tr>
  </tbody>
</table>
